@import 'tailwindcss';

:root {
	--background: #0c152b;
	--foreground: #ededed;
	--secondary: #03c7ff;
	scroll-behavior: smooth;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

.text-secondary {
	color: var(--secondary);
}

.hover-text-secondary:hover {
	color: var(--secondary);
}

.hover-bg-secondary:hover {
	background: var(--secondary);
}

.hover-border-secondary:hover {
	border-color: var(--secondary);
}

.border-secondary {
	border-color: var(--secondary);
}

.border-gray {
	border-color: rgba(128, 128, 128, 0.3);
}

.hero-animate {
	animation: hero 1s 0s forwards cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

@keyframes hero {
	0% {
		opacity: 0;
		transform: scale(4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.wifi-animate {
  animation: wifi infinite 2.1s;
}

@keyframes wifi {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.computer-animate {
  animation: computer infinite 2.2s 0.2s;
}

@keyframes computer {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translate(-5px, -5px);
  }

  100% {
    transform: translateY(0);
  }
}

.globe-animate {
  animation: globe infinite 2.5s 0.5s;
}

@keyframes globe {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translate(-5px, 0);
  }

  100% {
    transform: translateY(0);
  }
}